
@font-face {
  font-family: 'AbdoMaster-Medium';
  src: url('AbdoMaster-Medium.eot?#iefix') format('embedded-opentype'),  url('AbdoMaster-Medium.otf')  format('opentype'),
	     url('AbdoMaster-Medium.woff') format('woff'), url('AbdoMaster-Medium.ttf')  format('truetype'), url('AbdoMaster-Medium.svg#AbdoMaster-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
