
@font-face {
  font-family: 'AbdoMaster-Book';
  src: url('AbdoMaster-Book.eot?#iefix') format('embedded-opentype'),  url('AbdoMaster-Book.otf')  format('opentype'),
	     url('AbdoMaster-Book.woff') format('woff'), url('AbdoMaster-Book.ttf')  format('truetype'), url('AbdoMaster-Book.svg#AbdoMaster-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
